<div class="navbar">
  <button (click)="openAddOperator()" *ngIf="!showOperatorForm"
  class="btn btn-lg btn-outline-dark" >Add Operator</button>
  
  <button (click)="openEditOperator()" *ngIf="!showOperatorForm" [disabled]="!currentOperator"
  class="btn btn-lg btn-outline-dark" >Edit Operator</button>
  
  <button (click)="deleteOperator(currentOperator.id)" *ngIf="!showOperatorForm" [disabled]="!currentOperator"
  class="btn btn-lg btn-outline-dark" >Delete Operator</button>
  </div>

  <app-operator-details *ngIf="currentOperator" [operator]="currentOperator">
  </app-operator-details>
  
  <div class="container">
  
    <app-operator-form *ngIf="showOperatorForm" 
    (operatorFormClose)="operatorFormClose($event)" [operator]="currentOperator"></app-operator-form>

      <p>
        <ngb-alert *ngIf="message" [dismissible]="true">
          <strong>Warning!</strong> {{message}}
        </ngb-alert>
      </p>

        <app-operator-row class="card" *ngFor="let c of operatorList"
        [operator]="c"
        (click)='clicked(c)'
        [class.bg-dark]="isSelected(c)" [class.text-white]="isSelected(c)">
      </app-operator-row>  
</div>