<button type="button" class="close" aria-label="Close" (click)="closeForm()">
    <span aria-hidden="true">&times;</span>
  </button>

<form [formGroup]="operatorForm" (ngSubmit) = "onSubmit()">
<div class="form-group" >
    <label for="name"> Operator Name </label>
    <input id="name" type="text" formControlName="name" class="form-control">
</div>
<div class="form-group" >
    <label for="opName"> Code Name </label>

    <input id="opName" type="text" formControlName="opName" class="form-control">
</div>
<div class="form-group">
    <label for="ctu"> Operator CTU </label>
    <input id="ctu" type="text" formControlName="ctu" class="form-control">
</div>
<div class="form-group">
    <label for="icon"> Operator Icon Link </label>
    <input id="icon" type="text" formControlName="icon" class="form-control">
</div>

<button type="submit" [disabled]="!operatorForm.valid" class="btn btn-lg btn-primary"> Submit </button>

<div *ngIf="name.invalid && name.touched" class="alert alert-danger" >
    Operator Name must be at least 4 characters
</div>
<div *ngIf="opName.invalid && opName.touched" class="alert alert-danger" >
    Operator Code Name is required
</div>
<div *ngIf="ctu.invalid && ctu.touched" class="alert alert-danger" >
    Operator CTU is required
</div>
<div *ngIf="icon.invalid && icon.touched" class="alert alert-danger" >
    Operator Icon is required
</div>
</form>