<html>
    <nav>
            <div class="row">
                <div class="col-1">
                    <img src="https://preview.redd.it/4knclf04fcr41.png?auto=webp&s=e167bb9e03f16deaf32f7431c3436c1426589ee6" height="120em">
                </div>
                <div class="col-6 header">
                    Rainbow Six: Siege Wiki
                </div>
                <div class="col-2 links">
                    <div class="row link">
                        <a routerLink="operator-list-component" routerLinkActive="active"> Operators </a>
                    </div>
                    <div class="row link">
                        <a href="#"> CTUs </a>
                    </div>
                </div>
                <div class="col-3 fb">
                    <app-login></app-login>
                </div>
            </div>
    </nav>
    <router-outlet></router-outlet>
</html>
